{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{%static 'css/navbar.css'%}">

</head>

<body>
    <nav  class="navbar navbar-toggleable-md navbar-light bg-faded">


        <p class="logo"><img src="{%static 'images/relex_logo.png'%}"></p>
        <span><a class="hello-msg left"> Hello {{name}}!</a></span>
        <ul id="topheader" class="navbar "  style="box-shadow: none;">
            <li class="navbar-selections nav-item mr-auto "><a class="navbar-selections-text nav-link"
                    href="{%url 'AppPages:profile' %}">Profile</a></li>
            <li class="navbar-selections nav-item mr-auto"><a class="navbar-selections-text nav-link active"
                    href="{%url 'AppPages:dashboard' %}">Dashboard</a></li>
            <li class="navbar-selections nav-item mr-auto"><a class="navbar-selections-text nav-link"
                    href="{%url 'AppPages:logout' %}">Logout</a></li>
            </li>
        </ul>
    </nav>

    <div class="row">
        <div class="card card-body col-md-11 mt-4 mx-auto col-lg-8" style="background-color:rgb(108, 183, 212); border-radius: 10px; box-shadow: 3px 3px;" >
    <form id="searchform" action="/seeker/search/" method="GET" accept-charset="utf-8">
        <button class="searchbutton btn-info" style="height: 50px; width: 50px; border-radius: 10px; float:right; " type="submit" name="search">
          <i class="fa fa-search"></i>
        </button>

        <input class="searchfield col-md-11" style="height: 50px; border-radius: 10px; border:none" id="searchbox" name="q" type="text" placeholder="Search Jobs based on title, company or industry">
      </form>
        </div>
    </div>



    {% block content %}
    {% endblock %}



</body>

</html>